@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

  
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #AEC2B6;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #54666b54;
}

ul,li {
  list-style-type: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

li {
  background-color:#B3E5BE;
  padding: 5px;
  margin: 15px 0;
}

input {
  font-size: 18px;
  width: 100%;
  outline: none;
  padding: 6px;
}

button {
  padding: 5px;
  border: none;
  font-size: 16px;
  color: black;
  background-color: #B3E5BE;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

button:hover {
  background-color: #8bad92;
}

button:active {
  background-color: #3e443f;
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content:center;
}

.warnMessage {
  margin-top:20px ;
  padding: 5px;
  background-color: #B3E5BE;
  color: black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
/* 
.title {
  margin-bottom:30px;
} */

.title-container {
  display: flex;
  justify-content: space-between;
  background-color: #B3E5BE;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 20px;
}

.githubLogo {
  height: 50px;
}